<!DOCTYPE html>
<html>
<body>
<!-- process:include component-2/dialog-b/dialog-b-inner.html --><!-- /process -->
<div data-ng-controller="TabsDemoCtrl">
<form name="outerForm" class="tab-form-demo" >
  <h2>Filter</h2>
    <uib-tabset active="activeForm"  >
      <uib-tab ng-repeat="pane in panes" heading="{{pane.title}}" active="pane.active">{{pane.content}}
      </uib-tab>
    </uib-tabset>
  </form>
  <h4>Active pane:</h4>
  <pre>{{active()}}</pre>

<table class="table table-hover">
    <thead>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Year</th>
    </thead>
    <tbody>
        <tr data-ng-repeat="book in data.books | filter: {genre: test}">
            <td data-ng-bind="book.title"></td>
            <td data-ng-bind="book.author"></td>
            <td data-ng-bind="book.genre"></td>
            <td data-ng-bind="book.year"></td>
        </tr>
    </tbody>
</table>
</div>

</body>
</html>
